# Ignorar compilaciones de Maven
target/

# Ignorar archivos privados de NetBeans
nbproject/private/
nbbuild/
dist/
build/

# Ignorar configuraciones de sistema operativo
.DS_Store
Thumbs.db

#Ignorar configuración de la base de datos
db.properties  
